name: "Build: Windows native"

on:
  schedule:
      # https://crontab.guru/#0_16_*_*_6
    - cron: "0 16 * * 6" # “At 16:00 on Saturday.”
  workflow_dispatch:
    # nothing

jobs:
  main:
    runs-on: windows-2025
    strategy:
      matrix:
        mode: ["debug", "release"]
      fail-fast: false
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: >-
            curl
            git

      - uses: actions/checkout@v4
        with:
          repository: omnetpp/omnetpp
          path: omnetpp
          ref: omnetpp-6.x

      - run: omnetpp/install.sh -y

      - uses: actions/checkout@v4
        with:
          path: inet

      - name: Building binaries
        env:
          MODE: ${{ matrix.mode }}
        run: |

          # source $GITHUB_WORKSPACE/inet/_scripts/github/build-omnetpp.sh

          source $GITHUB_WORKSPACE/inet/_scripts/github/build-inet.sh